.header{
    height:98px;
    background-color: #f8f9fa;
  
}
.main1{
    margin-top: -27px;
    background-color: #fff;
    overflow-y: auto;
    /* min-height: 85vh;
    max-height: 90vh; */
    margin-bottom: 50px;
}
.main{
    background-color: #fff;
    overflow-y: auto;
    min-height: 85vh;
    max-height: 70vh;
    overflow-x: auto;
   
}
.date-color{
    color: #007a8d;
    font-size: 16px;
    font-weight: bold; 
}
.heading{
    font-family: Open Sans;
    font-size: 38px;  
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #007a8d;
    margin-top: 20px;
}
.subtitle{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.scoreCard{
    font-family: Open Sans;
    font-weight: 700;
    text-align: center;
    font-size: 38px;
    line-height: 65px;

}
.insight-car {
    /* background-color: rgb(255, 255, 255); */
    margin-top: -15px;
}
 .scoreCard-title{
    font-size: 14px;
    line-height: 19px;
}
.apexcharts-legend {
    display: flex;
    overflow: auto;
    padding: 0 10px;
  }
  .calender-icon{
    position: absolute;
    left: 30%;
  }
  .lable{
    font-size: 11.5px;
    font-weight: bold;
  }
  .Date-Filter{
    padding-top: 18px;
  }
  .calender-icon2{
    position: absolute;
    left: 47%;
  }
  .updated-header{
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .updated-subtitle{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;

  }
  .updated-email{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
  }
  .updated-form{
    width: 30%;
    top: 50%;
    left: 674px;
  }
  .login{
    background-color: blue;
    width: 100%;
    height: 100%;
  }
  body{
    background-color: #023e47;
  }
  .home{
    margin-left: 70px;
    margin-right: 80px;
  }
  .bg-body-color{
    background-color: #f8f9fa;
  }
  .Roa-pag{
    margin-top: -16px;
  }
  .left-side-main{
    height: 100vh;
     background-color: #f8f9fa
  }
  .left-side{
    height: 95vh;
     background-color: white
  }
  .sidebar-welcome {
    color: #000;
    font-size: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sidebar-user {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.sidebar-date {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    margin-top: 15px;
}
.sidebar-date, .sidebar-user {
    font-family: Open Sans;
    font-style: normal;
    line-height: normal;
}
.btn-color{
    background-color:#007a8d ;
    color: white    ;
    font-size: 18px;

}
.btn-color:hover{
    background-color: rgb(76, 76, 245);
    color: white    ;
}
.side-nav{
    width: 120px;
    background-color: #0d6efd;
    color: white;
}

.dashboard-summary{
    
    background-color: #fff;
    margin-top: .5%;
    margin-right: .5%;
    padding: 7%;
    
}
.dashboard-calender-icon1{
    position: absolute;
    left: 45.2%;
    z-index: 100;
    background-color: white;
    top: 27%;
}
.dashboard-calender-icon2{
    position: absolute;
    left: 52.2%;
    z-index: 100;
    background-color: white;
    top: 27%;
}
.kpi-card-1, .kpi-card-2 {
    margin-right: 5%;
    height: 160px;
    flex-shrink: 0;
}

.kpi-card-1 {
    border-radius: 30px;
    background: #feeae5;
    border-color: #feeae5;
}
.kpi-number, .roa-kpi-number {
    color: #333;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.kpi-title, .kpi-users-number, .roa-kpi-title {
    color: #333;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.kpi-card-3, .kpi-card-4 {
    margin-right: 5%;
    height: 160px;
    flex-shrink: 0;
}
.kpi-card-3 {
    border-radius: 30px;
    background: #fffae4;
    border-color: #fffae4;
}
.kpi-card-2 {
    border-radius: 30px;
    background: #ffe5e9;
    border-color: #ffe5e9;
}
.dashboard-progress{
    
    background-color: #fff;
    margin-top: .5%;
    
    margin-left: -15px;
    padding: 8%;
    height: 57vh;
    
   
}
.app-dashboard-header{
    font-family: Open Sans;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
}
.dashboard-Recent-cases{
    
    background-color: #fff;
   margin-top: 8px;
    
   
}
.roa-dashboard-records-table {
    height: 30vh;
    overflow-y: auto;
}