.header{
    height:98px;
    background-color: white;
}
.main1{
    margin-top: 10px;
    background-color: #fff;
    overflow-y: auto;
    /* min-height: 85vh;
    max-height: 90vh; */
    margin-bottom: 50px;
}
.main{
    background-color: #fff;
    overflow-y: auto;
    min-height: 85vh;
    max-height: 70vh;
    overflow-x: auto;
   
}
.date-color{
    color: #007a8d;
    font-size: 16px;
    font-weight: bold; 
}
.heading{
    font-family: Open Sans;
    font-size: 38px;  
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #007a8d;
    margin-top: 20px;
}
.subtitle{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.scoreCard{
    font-family: Open Sans;
    font-weight: 700;
    text-align: center;
    font-size: 38px;
    line-height: 65px;

}
.insight-car {
    /* background-color: rgb(255, 255, 255); */
    margin-top: -15px;
}
 .scoreCard-title{
    font-size: 14px;
    line-height: 19px;
}
.apexcharts-legend {
    display: flex;
    overflow: auto;
    padding: 0 10px;
  }
  .calender-icon{
    position: absolute;
    left: 30%;
  }
  .lable{
    font-size: 11.5px;
    font-weight: bold;
  }
  .Date-Filter{
    padding-top: 18px;
  }
  .calender-icon2{
    position: absolute;
    left: 47%;
  }
  .updated-header{
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .updated-subtitle{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;

  }
  .updated-email{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
  }
  .updated-form{
    width: 30%;
    top: 50%;
    left: 674px;
  }
  .login{
    background-color: blue;
    width: 100%;
    height: 100%;
  }
  body{
    background-color: #023e47;
  }
  